header {
    display: flex;
}
.logo img{
    width: 17%;
}

#authContainer {
    font-family: Avenir;
}

.dropdown-modal {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 9999; /* ensure it’s on top */
}

.input-group {
  position: relative;
  margin: 10px 0;
}

.input-group input {
  width: 100%;
  padding: 8px 40px 8px 10px; /* right padding to make space for icon */
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;      /* moves it to the right edge */
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.toggle-password img {
  width: 20px;       /* size of the eye icon */
  height: 20px;
}

#toggleForm {
  color: #37B651;
  cursor: pointer;
}

#accountIn-Out {
    display: flex;
    justify-content: center;  /* centers horizontally */
    align-items: center;      /* centers vertically */
    height: 100%;            /* set a height for the container */
    gap: 10px;                /* spacing between authBtn and signOutBtn */
}

#authBtn {
    margin-left: -100px;
    width: 200px;
    height: 33px;
    padding: 0px 5px 20px 5px;
    background: transparent;
    border: 1px solid;
    border-color: #118ab2;
    border-radius: 5px;
    color: #118ab2;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    text-align: center;
}
    
#authBtn:hover {
  border-color: #2e9847;
   color: #2e9847;
}

#signOutBtn {
    width: 100px;
    height: 55px;
    font-size: 17px;
    border: 1px solid #F36F40;
    color: #F36F40;
    background-color: transparent;
}

#signOutBtn:hover {
    background-color: #F36F40;
    color: #FFFFFF;
}

/* Modal Overlay */
#authModal {
    display: none;
    position: absolute;
    top: 50px;
    left: -229px;
    background: rgba(255,255,255,0.95);
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#authModal button {
    width: 100%;
    height: 50%;
    background-color: #118ab2;
    padding: 1%;
    font-size: 22px;
}

#goSignUp {
    color: #118ab2;
    cursor: pointer;
}

#goSignUp:hover {
    color: #2e9847;
    cursor: pointer;
}

table { margin-left: 10px; border-collapse: collapse; }
.cell {
  width: 100px;
  height: 7px;
  background-color: #fff;      /* default */
  border: 1px solid #ddd;
}
.meter-labels td {
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  color: #555;
}
.cellTx { margin: 6px 12px; font-size: 13px; }

/* Optional colors used via JS */
.text-red { color: #F36F40; }
.text-orange { color: #118ab2; }
.text-green { color: #2e9847; }


.up {
    display: flex;
    justify-content: center;  /* centers horizontally */
    gap: 50px;                /* optional spacing between items */
    margin-top: 5%;
}

.cirV {
    width: 500px;
    display: flex;
}

#cirG {
    margin-left: 10%;
}

.circle {
    width: 200px;
    height: 200px;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.3s ease; 
}

.circle, .logoV, button {
    flex-shrink: 0;
}

.logoV {
    margin-top: 8%;
    margin-left: -20%;
}

.logoG{
    width: 66%;
    height: 77%;
}

.logoO {
    width: 66%;
    height: 77%;
}

.logoB {
    width: 66%;
    height: 200%;

}

.down {
    margin-top: 5%;
    margin-bottom: -5%;
    margin-left: 38%;
}

button {
    width: 333px;
    height: 50px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    font-family: Avenir;
    font-size: 25px;
}

.content button {
    visibility: hidden;   /* or opacity: 0 */
    position: absolute;   /* take out of normal flow */
}

#cirO:hover #btnO,
#cirG:hover #btnG,
#cirB:hover #btnB {
  visibility: visible;  /* or opacity: 1 */
}

#btnG {
    margin-top: 10%;
}

#btnO {
    margin-top: 10%;
}

#btnB {
    margin-top: 10%;
}

#btnG:hover {
    background-color: #37B651;
    color: #FFFFFF;
}

#btnO:hover {
    background-color: #F36F40;
    color: #FFFFFF;
}

#btnB:hover {
    background-color: #378CCB ;
    color: #FFFFFF;
}

.content a {
    text-decoration: none;
}

footer {
    display: flex;
    font-family: Avenir;
    font-size: 22px;
    color: #272727;
    margin-top: 9%;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

footer img {
    width: 11%;
}

.youtubeIcon {
    width: 10%;
    margin-bottom: 2%;
}

.socials {
    text-align: center;
    margin-top: 1.5%;
}

@media screen and (width: 1366px) and (height: 1024px) {
        .content {
            margin-top: 15%;
            margin-bottom: -15%;
        }
 }

 @media screen and (min-width: 1100px) and (max-width: 1300px) {
    #btnG, #btnB, #btnO {
        margin-top: 11%;
    }
 }

 @media screen and (min-width: 1000px) and (max-width: 1100px) {
    #btnG, #btnB, #btnO {
        margin-top: 13%;
    }
 }

@media screen and (width: 1024px) and (height: 1366px) {
    header {
        margin-bottom: 10%;
    }
    .logo img{
        width: 20%;
    }
    #authContainer {
        margin-right: -8%;
    }
    .content {
        width: 90%;
    }
   .up {
        display: table;
        padding-left: 25%;
        padding-right: 25%;
   }
    .circle {
        width: 270px;
        height: 270px;
   }
   #cirG {
        width: 150%;
   }
   #cirO {
        justify-content: center;
        margin-top: 30%;
        width: 150%;
   }
   .down {
        margin-left: 0%;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirB {
        justify-content: center;
        margin-top: 17%;
        margin-left: 2%;
        width: 70%;
   }
   #btnG, #btnB, #btnO {
        margin-top: 18%;
        width: 420px;
        height: 75px;
        font-size: 30px;
   }
   #btnG {
    margin-left: 2%;
   }
   #btnB {
    margin-left: -10%;
   }
   #btnO {
    margin-left: -7%;
   }
   footer{
        width: 100%;
        margin-top: 17%;
   }
   footer p {
        font-size: 17px;
   }
 }

 @media screen and (width: 1024px) and (height: 768px) {
    .logoG, .logoO {
        width: 70%;
    }
  }

 @media screen and (width: 1024px) and (height: 600px) {
    .logoG, .logoO {
        width: 70%;
    }
  }
 @media screen and (min-width: 900px) and (max-width: 1000px) {
    #btnG, #btnB, #btnO {
        margin-top: 15%;
    }
 }

  @media screen and (width: 915px) {
    #btnG, #btnO {
        margin-top: 14%;
    }
 }

 @media screen and (width: 912px) {
    #cirG {
        margin-left: 6%;
    }
    #btnG, #btnB, #btnO {
        margin-top: 16%;
    }
    #btnO {
        margin-left: -17%;
    }
 }
 
  @media screen and (width: 1368px) and (height: 912px) {
        footer {
            margin-top: 17%;
        }
 }

@media screen and (width: 1366px) {
        footer {
            margin-top: 25%;
        }
 }

  @media screen and (min-width: 896px) and (max-width: 935px) {
    .up {
        gap: 0px;
    }
    .logoG, .logoO{
        width: 75%;
    }
 }

   @media screen and (min-width: 913px) and (max-width: 915px) {
    .up {
        gap: 0px;
        width: 100%;
        margin-right: 9%;
    }
 }

   @media screen and (width: 912px) and (height: 1368px) {
    header {
        margin-bottom: 20%;
    }
    .logo img{
        width: 20%;
    }
    #authContainer {
        margin-right: -17%;
    }
    .content {
        margin-left: 10%;
    }
   .up {
        display: table;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirO {
        justify-content: center;
        margin-top: 30%;
   }
   .down {
        margin-left: 0%;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirB {
        margin-top: 17%;
        margin-left: 2%;
        width: 68%;
   }
   footer{
        width: 110%;
        margin-top: 40%;
   }
   footer p {
        font-size: 17px;
   }
 }

@media screen and (min-width: 800px) and (max-width: 900px) {
    #btnG, #btnO {
        margin-top: 16%;
    }
    #btnB {
        margin-top: 17%;
    }
 }

@media screen and (min-width: 650px) and (max-width: 800px) {
    .up {
        gap: 0px;
    }
    .cirV  {
        width: 400px;
    }
    .circle {
        width: 150px;
        height: 150px;
    }
    .logoG, .logoO{
        width: 75%;
    }
    footer p {
        font-size: 15px;
    }
 }

 @media screen and (min-width: 880px) and (max-width: 890px) {
    .up {
        gap: 0px;
    }
    .up .cirV {
        height: 90%;
    }
    #cirB {
        height: 22%;
    }
    .logoG, .logoO {
        width: 77%;
        margin-left: -25%;
    }
    #btnG, #btnB, #btnO {
        margin-top: 14%;
    }
    footer {
        margin-top: 20%;
    }
 }

@media screen and (width: 853px) and (height: 1280px) {
    header {
        margin-bottom: 10%;
    }
    .logo img{
        width: 20%;
    }
    #authContainer {
        margin-right: 0%;
    }
    .content {
        width: 82%;
    }
   .up {
        display: table;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirO {
        justify-content: center;
        margin-top: 15%;
   }
   .down {
        margin-left: 0%;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirB {
        justify-content: center;
        margin-top: 10%;
   }
    #btnG {
        margin-top: 17%;
   }
    #btnB {
        margin-top: 17%;
        margin-left: -11%;
   }
    #btnO {
        margin-top: 17%;
        margin-left: -11%;
   }
   footer{
        width: 95%;
        margin-top: 35%;
   }
   footer p {
        font-size: 17px;
   }
 }

 @media screen and (min-width: 844px) and (max-width: 850px) {
    .up {
        gap: 0px;
    }
    .logoG, .logoO{
        width: 80%;
        margin-left: -25%;
    }
    footer p {
        font-size: 20px;
    }
 }

  @media screen and (min-width: 650px) and (max-width: 800px) {
    footer p {
        font-size: 13px;
    }
 }
 

   @media screen and (width: 820px) and (height: 1180px) {
    header {
        margin-bottom: 20%;
    }
    .logo img{
        width: 20%;
    }
    #authContainer {
        margin-right: -40%;
    }
    .content {
        margin-left: 25%;
    }
   .up {
        display: table;
        padding-left: 25%;
        padding-right: 25%;
   }
   .circle {
        width: 250px;
        height: 250px;
   }
   #cirG {
        width: 220%;
   }
   #cirO {
        justify-content: center;
        margin-top: 40%;
        width: 220%;
        margin-left: -10%;
   }
   .down {
        margin-left: 0%;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirB {
        justify-content: center;
        margin-top: 20%;
        width: 100%;
        margin-left: -2%;
   }
    #btnG {
        margin-top: 22%;
   }
    #btnB {
        margin-top: 21%;
        margin-left: -24%;
   }
    #btnO {
        margin-top: 22%;
        margin-left: -28%;
   }
   footer{
        width: 140%;
        margin-top: 45%;
   }
   footer p {
        font-size: 17px;
   }
 }

 @media screen and (width: 667px) {
    .logo img {
        width: 25%;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 750px) {
    #btnG, #btnB, #btnO {
        margin-top: 14%;
        width: 275px;
        font-size: 22px;
    } 
   }

  @media screen and (width: 768px) and (height: 1024px) {
    header {
        margin-bottom: 20%;
    }
    .logo img{
        width: 20%;
    }
    #authContainer {
        margin-right: -50%;
    }
    .content {
        margin-left: 25%;
    }
   .up {
        display: table;
        padding-left: 25%;
        padding-right: 25%;
   }
   .circle {
        width: 250px;
        height: 250px;
   }
   #cirG {
        width: 220%;
        margin-left: 4%;
   }
   #cirO {
        justify-content: center;
        margin-top: 40%;
        width: 220%;
   }
   .down {
        margin-left: 0%;
        padding-left: 25%;
        padding-right: 25%;
   }
    #cirB {
        margin-top: 20%;
        width: 120%;
    }
    #btnG {
        margin-top: 25%;
        margin-left: 1%;
   }
    #btnB {
        margin-top: 25%;
        margin-left: 1%;
   }
    #btnO {
        margin-top: 25%;
        margin-left: -31%;
   }
   footer{
        width: 140%;
        margin-top: 25%;
   }
   footer p {
        font-size: 17px;
   }
 }

  @media screen and (width: 740px) {
    .logo img {
        width: 25%;
    }
    #authBtn {
        width: 150px;
        height: 30px;
        padding: 0px 5px 25px 5px;
    }
  }

 @media screen and (width: 667px) {
    .logo img {
        width: 25%;
    }
    #authBtn {
        width: 150px;
        height: 30px;
        padding: 0px 5px 25px 5px;
    }
    #btnG {
        width: 250px;
        margin-top: 15%;
        margin-left: -1%;
        font-size: 20px;
   }
    #btnB {
        width: 250px;
        margin-top: 17%;
        margin-left: -1%;
        font-size: 20px;
   }
    #btnO {
        width: 250px;
        margin-top: 15%;
        margin-left: -1%;
        font-size: 20px;
   }
  }

@media screen and (max-width: 550px) {
    .logo img{
        width: 30%;
    }
    #authContainer {
        margin-right: -40%;
    }
   .up {
        display: table;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirO {
        justify-content: center;
        margin-top: 10%;
   }
   .down {
        margin-left: 0%;
        padding-left: 25%;
        padding-right: 25%;
   }
   #cirB {
        justify-content: center;
        margin-top: 10%;
   }
    #btnG {
        margin-top: 25%;
        margin-left: -1%;
   }
    #btnB {
        margin-top: 25%;
        margin-left: -19%;
   }
    #btnO {
        margin-top: 25%;
        margin-left: -19%;
   }
   footer{
        width: 140%;
        font-size: 16px;
        margin-top: 30%;
   }
 }

 @media screen and (max-width: 500px) {
    header {
        margin-bottom: 30%;
    }
    .logo img{
        width: 35%;
    }
    #authContainer {
        margin-right: -70%;
    }
   #cirO {
        justify-content: center;
        margin-top: 40%;
   }
   #cirB {
        justify-content: center;
        margin-top: 48%;
   }
    #btnG {
        margin-top: 33%;
        margin-left: -2%;
   }
    #btnB {
        margin-top: 33%;
        margin-left: -27%;
   }
    #btnO {
        margin-top: 33%;
        margin-left: -27%;
   }
    footer {
        display: table;
        margin: 130% 60% 0 15%; 
        text-align: center;
    }
    #contact p {
        font-size: 25px;
    }
 }

 @media screen and (min-width: 410px) and (max-width: 431px) {
    footer {
        margin-top: 85%;
    }
  }

  @media screen and (min-width: 350px) and (max-width: 400px) {
    header {
        margin-bottom: 30%;
    }
    .logo img{
        width: 35%;
    }
    #authContainer {
        margin-right: -90%;
    }
   #cirO {
        justify-content: center;
        margin-top: 40%;
   }
   #cirB {
        justify-content: center;
        margin-top: 60%;
   }
       #btnG {
        margin-top: 37%;
        margin-left: -2%;
   }
    #btnB {
        margin-top: 37%;
        margin-left: -29%;
   }
    #btnO {
        margin-top: 37%;
        margin-left: -29%;
   }
   footer{
        width: 190%;
        font-size: 12px;
        margin-top: 70%;
        margin-left: 0%;
   }
 }

  @media screen and (width: 390px) {
    .content {
        margin-left: 17%;
    }
  }

 @media screen and (min-width: 370px) and (max-width: 377px) {
    header {
        margin-bottom: 30%;
    }
    .logo img{
        width: 35%;
    }
    #authContainer {
        margin-right: -90%;
    }
   #cirO {
        justify-content: center;
        margin-top: 20%;
   }
   #cirB {
        justify-content: center;
        margin-top: 30%;
   }
   footer{
        width: 190%;
        font-size: 12px;
        margin-top: 60%;
        margin-left: 0%;
   }
 }


 @media screen and (min-width: 355px) and (max-width: 370px) {
    header {
        margin-bottom: 30%;
    }
    .logo img{
        width: 35%;
    }
    #authContainer {
        margin-right: -90%;
    }
   #cirO {
        justify-content: center;
        margin-top: 30%;
   }
   #cirB {
        justify-content: center;
        margin-top: 40%;
   }
   footer{
        width: 190%;
        font-size: 12px;
        margin-top: 70%;
        margin-left: 0%;
   }
 }

  @media screen and (max-width: 350px) {
    header {
        margin-bottom: 50%;
    }
    .logo img{
        width: 35%;
    }
    #authContainer {
        margin-right: -100%;
    }
   #cirO {
        justify-content: center;
        margin-top: 50%;
        margin-left: 2%;
   }
   #cirB {
        justify-content: center;
        margin-top: 80%;
        margin-left: 2%;
   }
    #btnG {
        margin-top: 40%;
        margin-left: -3%;
   }
    #btnB {
        margin-top: 40%;
        margin-left: -33%;
   }
    #btnO {
        margin-top: 40%;
        margin-left: -33%;
   }
   footer{
        width: 190%;
        font-size: 12px;
        margin-top: 90%;
        margin-left: 0%;
   }
 }
