body {
    font-family: Avenir;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #378CCB;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    color: #378CCB;
    margin-top: -1%;
    margin-left: 0%;
    white-space: nowrap;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin-top: 4%;
    margin-left: 5%;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    color: #F8F8F8;
    background-color: #378CCB;
    padding: 2%;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    color: #575757;
    border-bottom: 1px solid #575757;
    padding: 2%;
}

p {
    font-size: 19px;
    color: #000000;
}

svg {
    height: 122%;
    opacity: 70%;
}

header {
    position: relative;
    z-index: 1;
    display: flex;
    height: 40%;
    margin-top: -0.5%;
    margin-left: -0.5%;
    overflow: hidden; /* Ensure no overflow from pseudo-element */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/headerBackground.png");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.75; /* 75% visible */
    z-index: 0;
}

header > * {
    position: relative;
    z-index: 1; /* Ensure content appears above background */
}

.logo img{
    margin-left: 1%;
    width: 33%;
}

form  {
    display: flex;
    width: 115%;
    height: 35%;
    margin-top: 6%;
    margin-right: 5%;
}

header h2 {
    margin-top: 7%;
    margin-right: 4%;
}


button {
    width: 15%;
    height: 38%;
    margin-top: 1.5%;
    background-color: #378CCB;
    border: 1px solid #378CCB;
    border-radius: 5px 0px 0px 5px;
    opacity: 90%;
}

.searchButton img{
    width: 80%;
}

input {
    width: 100%;
    height: 38%;
    margin-top: 1.5%;
    border: 1px solid #378CCB;
    border-radius: 0px 5px 5px 0px;
}

input::placeholder {
    font-size: 20px;
    padding: 2%;
}

.topics {
    display: none;
    position: absolute;
    z-index: 2;
    margin-top: -17%;
    margin-left: -4%;
    padding-top: 7%;
    padding-left: 40%;
    width: 63%;
    height: 750px;
    /* background-color: rgba(55, 140, 203, 0.25); */
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%); */
}

.topicsTag {
    white-space: nowrap;
    position: relative;
    margin-top: 7%;
    margin-left: 0.5%;
    width: 111px;
    height: 25px;
    color: #FFFFFF;
    background-color:  #378CCB;
    border: 1px solid  #378CCB;
    font-size: 12px;
    font-weight: 600;
    border-radius: 25px 25px 25px 25px;
}

.topicsTag:hover {
    color: #0C507A;
    background-color: #ffffff; /* Change the background color when clicked */
}

.topicsTag.clicked {
    background-color: #0C507A; /* Change the background color when clicked */
    border-color: #0C507A; /* Change the border color if needed */
    pointer-events: none;
}

.subTopics {
    display: none;
    margin-top: -1%;
    margin-left: 15%;
}

.subTopics .topicsTag:hover {
    color: #396DC9;
    background-color:  #ffffff;
    border: 1px solid  #396DC9;
}

.subTopics .topicsTag {
    background-color:  #709CE8;
    border: 1px solid  #709CE8;
}

.subTopics .topicsTag.clicked {
    background-color: #396DC9; /* Change the background color when clicked */
    border-color: #396DC9; /* Change the border color if needed */
    pointer-events: none;
}

.subTopicsSoc {
    display: none;
    margin-left: 15%;
}

.subTopicsSoc .topicsTag {
    background-color:  #709CE8;
    border: 1px solid  #709CE8;
}

.subTopicsSoc .topicsTag:hover {
    color: #396DC9;
    background-color:  #ffffff;
    border: 1px solid  #396DC9;
}

.subTopicsSoc .topicsTag.clicked {
    background-color:  #396DC9;
    border: 1px solid  #396DC9;
}

.subTopicsGeo {
    display: none;
    margin-left: 15%;
}

.subTopicsGeo .topicsTag {
    background-color:  #709CE8;
    border: 1px solid  #709CE8;
}

.subTopicsGeo .topicsTag:hover {
    color: #396DC9;
    background-color:  #ffffff;
    border: 1px solid  #396DC9;
}

.subTopicsGeo .topicsTag.clicked {
    background-color:  #396DC9;
    border: 1px solid  #396DC9;
}

#map {
    position: absolute;
    z-index: -4;
    margin-top: 0%;
    margin-bottom: -15%;
}

.st0{
    fill:#DDDDDD;
    stroke:#F8F8F8;
    stroke-width:1;
    stroke-miterlimit:9.9998;
}

.list {
    display: none;
    position: relative;
    margin-top: -55%;
    font-size: 25px;
    color: #575757;
}

.listButton {
    position: relative;
    font-weight: 600;
    color: #FFFFFF;
    background-color: rgba(55, 140, 203);
    border: 1px solid rgba(55, 140, 203);
    border-radius: 5px 5px 0px 0px;
    width: 100px;
    height: 27px;
    margin-left: 19%;
    z-index: 4;
}

.listButton:hover {
    background-color: #1370aa;
}

.titleP {
    margin-top: 0px;
}

.title {
    width: 444px;
    height: 75px;
    background-color: #0C507A;
    margin-bottom: 1%;
}

.title h3 {
    color: #F8F8F8;
    font-size: 22px;
    font-weight: 500;
    padding-top: 5%;
}

.statBar {
    display: flex;
    width: 444px;
    height: 50px;
    background-color: rgba(55, 140, 203, 0.5);
    margin-bottom: 0.5%;
    overflow: hidden;
    animation: expandWidth 1s forwards;
}

.collapse {
    animation: collapseWidth 1s forwards;
}

@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: 444px;
    }
}

@keyframes collapseWidth {
    0% {
        width: 444px;
    }
    100% {
        width: 0;
    }
}

.num {
    background-color:  #378CCB;
    width: 60px;
    height: 50px;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 60% 100%, 0% 100%);
}

.num h3 {
    color: #F8F8F8;
    margin-top: 14%;
    padding-right: 17%;
}

.country {
    width: 225px;
}

.per {
    background-color: #F8F8F8;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}

.per h3 {
    color: #575757;
    margin-top: 7%;
    padding-left: 17%;
}

footer {
    display: flex;
    font-family: Avenir;
    font-size: 22px;
    color: #575757;
    margin-top: 12%;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

footer img {
    width: 12%;
}

.socials {
    text-align: center;
    margin-top: 1.5%;
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .list {
        margin-top: -80%;
    }
 }

@media screen and (min-width: 1000px) {
    #Layer_1 {
        width: 100%;
    }
}

@media screen and (width: 1024px)  and (height: 1366px) {
    header {
        height: 20%;
    }
    .topics {
        margin-top: -25%;
    }
    .list {
        margin-top: -95%;
    }
    #Layer_1 {
        height: 100%;
        margin-top: -40%;
    }
    footer {
        margin-top: 27%;
    }
 }

@media screen and (width: 1024px)  and (height: 768px) {
    .list {
        margin-top: -77%;
    }
 }


@media screen and (width: 1024px)  and (height: 600px) {
    .list {
        margin-top: -66%;
    }
 }

@media screen and (width: 912px) and (height: 1368px) {
    header {
        height: 20%;
        margin-top: -1%;
        margin-left: -1%;
    }
    .logo img {
        width: 45%;
    }
    form {
        width: 200%;
    }
    #Layer_1 {
        width: 100%;
        height: 750px;
    }
    footer {
        margin-top: 20%;
    }
}

@media screen and (min-width: 913px) and (max-width: 1000px) {
    header {
        margin-top: -1%;
        margin-left: -1%;
    }
    .logo img {
        width: 45%;
    }
    form {
        width: 177%;
        height: 60%;
    }
    .searchButton img {
        width: 100%;
    }
        #layer_1{
        height: 144%;
        margin-top: 20%;
    }
    .list {
        margin-top: -70%;
    }
}

@media screen and (width: 912px) and (height: 1368px) {
    header {
        height: 20%;
    }
    form {
        width: 200%;
    }
    .topics {
        margin-top: -25%;
    }
    #Layer_1 {
        width: 100%;
        height: 750px;
    }
    .list {
        margin-top: -70%;
    }
    footer {
        margin-top: 20%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    header {
        margin-top: -1%;
        margin-left: -1%;
    }
    .logo img {
        width: 45%;
    }
 }

@media screen and (min-width: 821px) and (max-width: 900px) {
    form {
        width: 177%;
        height: 60%;
    }
    #layer_1{
        height: 144%;
        margin-top: 20%;
    }
    .list {
        margin-top: -70%;
    }
}

@media screen and (width: 882px) and (height: 344px) {
    .topics {
        margin-top: -10%;
    }
    .list {
        margin-top: -53%;
    }
}

@media screen and (width: 853px) and (height: 1280px) {
    header {
        height: 15%;
    }
    svg {
        height: 40%;
    }
    .topics {
        margin-top: -20%;
    }
    #layer_1 {
        height: 43%;
    }
    .list {
        margin-top: -73%;
    }
    #contact {
        margin-top: 26%;
    }
 }

@media screen and (width: 820px) and (height: 1180px) {
    header {
        height: 20%;
    }
    form {
        width: 250%;
    }
    .topics {
        margin-top: -25%;
    }
    #Layer_1 {
        width: 100%;
        height: 750px;
    }
    footer {
        margin-top: 20%;
    }
    .list {
        margin-top: -85%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    header {
        height: 30%;
        margin-top: -1%;
        margin-left: -1%;
    }
    .logo img {
        width: 60%;
    }
    form {
        width: 300%;
        height: 60%;
    }
    svg {
        height: 88%;
        margin-top: 30%;
    }
    #contact p {
        font-size: 14px;
    }   
}

@media screen and (width: 740px) and (height: 360px) { 
    header {
        height: 50%;
    }
    svg {
        height: 140%;
    }
}

@media screen and (width: 768px) and (height: 1024px) { 
    header {
        height: 20%;
    }
    form {
        width: 400%;
        height: 50%;
    }
    #layer_1 {
        width: 100%;
        height: 80%;
        margin-top: 0%;
        margin-bottom: -30%;
    }
    .list {
        margin-top: -60%;
    }
    footer {
        margin-top: 20%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    header {
        height: 40%;
    }
    form {
        width: 300%;
        height: 60%;
    }
    #layer_1 {
        width: 100%;
        margin-top: 40%;
        margin-bottom: -30%;
    }
    .list {
        margin-top: -50%;
    }
    #contact p {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    header {
        height: 30%;
        width: 200%;
        margin-top: -2%;
        margin-left: -2%;
    }
    .logo img {
        width: 50%;
    }
    form {
        width: 250%;
        height: 60%;
    }
    .topics {
        margin-left: 80%;
    }
    .list {
        margin-top: -140%;
    }
    svg {
        height: 95%;
        margin-top: 30%;
    }

    #contact {
        margin-top: 65%;
        width: 190%;
    }
}

@media screen and (max-width: 500px) {
    .logo img {
        width: 70%;
    }
    header {
        height: 20%;
        width: 200%;
        margin-top: -2%;
        margin-left: -2%;
    }
    form {
        width: 500%;
        height: 60%;
    }
    .topics {
        margin-left: 90%;
        margin-top: -30%;
    }
    .subTopics {
        margin-left: -200%;
    }
    .list {
        margin-top: -220%;
    }
    #layer_1 {
        width: 180%;
        margin-top: 20%;
    }
    footer {
        display: table;
        margin: 90% 60% 0 60%; 
        text-align: center;
    }
    #contact p {
        font-size: 25px;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px)  {
    .logo img {
        width: 70%;
    }
    #layer_1 {
        margin-top: 70%;
    }
    .list {
        margin-top: -280%;
    }
    footer {
        margin-top: 70%;
    }
}

@media screen and (width: 390px) {
    .topics {
        margin-top: -25%;
    }
    footer {
        margin-top: 75%;
    }
 }

 @media screen and (min-width: 357px) and (max-width: 377px) { 
    .topics {
        margin-top: -20%;
        margin-left: 80%;
    }
    .subTopics {
        margin-left: -180%;
    }
    .list {
        margin-top: -220%;
    }
    footer {
        margin-top: 12%;
    }
 }